.gallery-hero {
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("https://images.unsplash.com/photo-1501785888041-af3ef285b470");
  background-size: cover;
  background-position: center;
  padding: 120px 20px;
  text-align: center;
  color: white;
}

.gallery-page {
  padding-top: 70px;
  background: #f5f5f5;
  min-height: 100vh;
}
.gallery-content {
  display: flex;
  padding: 60px;
  gap: 40px;
  background: #f5f5f5;
}

.gallery-sidebar {
  width: 250px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  height: fit-content;
}

.gallery-sidebar button {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 8px;
  border: none;
  background: #eee;
  cursor: pointer;
  border-radius: 5px;
}

.gallery-sidebar .active {
  background: green;
  color: white;
}

.gallery-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.gallery-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  text-decoration: none;
  color: black;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.gallery-card:hover {
  transform: translateY(-5px);
}

.gallery-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card-body {
  padding: 15px;
}

.card-body span {
  font-size: 12px;
  color: green;
}

.pagination {
  grid-column: span 2;
  text-align: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 6px 12px;
  border: none;
  background: #ddd;
  cursor: pointer;
  border-radius: 5px;
}

.pagination .active {
  background: green;
  color: white;
}