.program {
  padding: 100px 80px;
  background: #f4f6f8;
  text-align: center;
}

.program-header h2 {
  font-size: 34px;
  font-weight: 800;
}

.program-header p {
  margin-top: 10px;
  color: #666;
}

.program-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 25px;
}

/* CARD */
.program-card {
  background: white;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.program-card:hover {
  box-shadow: 0 15px 35px rgba(0,0,0,0.12);
}

/* IMAGE */
.img-wrapper {
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.program-card:hover img {
  transform: scale(1.08);
}

/* CONTENT */
.program-content {
  padding: 20px;
  text-align: left;
}

.program-content h4 {
  font-size: 18px;
  margin-bottom: 8px;
  transition: 0.3s;
}

.program-card:hover h4 {
  color: #16c35b;
}

.program-content p {
  font-size: 14px;
  color: #555;
  margin-bottom: 12px;
}

.program-content span {
  font-size: 14px;
  color: #16c35b;
  font-weight: 600;
  transition: 0.3s;
}

.program-card:hover span {
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .program {
    padding: 60px 20px;
  }

  .program-header h2 {
    font-size: 26px;
  }

  .program-content {
    text-align: center;
  }
}