@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
}

/* ================= NAVBAR ================= */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* ================= EDITOR ================= */

.ProseMirror {
  outline: none;
  font-size: 15px;
  line-height: 1.7;
  color: #374151; /* gray-700 */
}

/* PARAGRAPH */
.ProseMirror p {
  margin: 0.75em 0;
}

/* HEADING */
.ProseMirror h1 {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 1rem 0;
}

.ProseMirror h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.8rem 0;
}

/* LIST */
.ProseMirror ul {
  padding-left: 1.5rem;
  list-style: disc;
}

.ProseMirror li {
  margin: 0.3rem 0;
}

/* BLOCKQUOTE */
.ProseMirror blockquote {
  border-left: 3px solid #10b981;
  padding-left: 1rem;
  color: #6b7280;
  margin: 1rem 0;
}

/* CODE */
.ProseMirror pre {
  background: #111827;
  color: #f9fafb;
  padding: 10px;
  border-radius: 8px;
  overflow-x: auto;
}

/* PLACEHOLDER */
.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  color: #9ca3af;
  pointer-events: none;
  height: 0;
  float: left;
}